<section class="side-bar__info">
  <div class="title"><i class="fas fa-info-circle"></i>Info</div>
  <div class="info">
    <div class="item">
      <span class="value">
        <i class="far fa-folder"></i>
        <a routerLink="/view/category/{{ item.category | replaceURL | lowercase}}">{{ item.category}}</a>
      </span>
    </div>
    <div class="item">
      <span class="value">
        <i class="fas fa-location-arrow"></i>
        <a routerLink="/view/category/{{ item.locationName | replaceURL | lowercase }}">{{ item.locationName }}</a>
      </span>
    </div>
    <div class="item">
      <span class="value">
        <i class="fas fa-envelope"></i>
        {{item.email}}
      </span>
    </div>
    <div class="item">
      <span class="value">
        <i class="fas fa-phone-square"></i>
        {{item.phone}}
      </span>
    </div>
    <div class="item">
      <span class="value">
        <i class="far fa-eye"></i>    
        {{item.views}}
      </span>
    </div>
  </div>
</section>
<section class="side-bar__menu">
  <div class="tags">
    <div class="title"><i class="fas fa-tags"></i>Tags</div>
    <a routerLink="/view/tag/{{tag}}" *ngFor="let tag of tags" class="tag">{{ tag }}</a>
  </div>
  <ul>
    <li class="report-bussiness"><a routerLink="/report">Report this bussiness</a></li>
    <li class="claim-bussiness"><a routerLink="/report">Claim this bussiness</a></li>
  </ul>
</section>
<section class="side-bar__locations">
  <div class="locations">
    <div class="title"><i class="fas fa-location-arrow"></i>Top locations</div>
    <a routerLink="/view/location/{{location}}" *ngFor="let location of locations" class="location">{{ location }}</a>
  </div>
</section>