<section class="side-bar__menu">
  <div class="tags">
    <div class="title">Tags</div>
    <a routerLink="/view/tag/{{tag}}" *ngFor="let tag of tags" class="tag">{{ tag }}</a>
  </div>
  <ul>
    <li class="report-bussiness"><a routerLink="/report">Report this bussiness</a></li>
    <li class="claim-bussiness"><a routerLink="/report">Claim this bussiness</a></li>
  </ul>
</section>
<section class="side-bar__locations">
  <div class="locations">
    <div class="title">Top locations</div>
    <a routerLink="/view/location/{{location}}" *ngFor="let location of locations" class="location">{{ location }}</a>
  </div>
</section>