<div>
  <section class="side-bar__info">
    <div class="title"><i class="fas fa-info-circle"></i>Info</div>
    <div class="info">
      <div *ngIf="!isLoading">
        <div class="item">
          <span class="value">
            <i class="far fa-folder"></i>
            <a routerLink="/view/category/{{ item.category.name | replaceURL | lowercase}}">{{ item.category.name}}</a>
          </span>
        </div>
        <div class="item">
          <span class="value">
            <i class="fas fa-location-arrow"></i>
            <a routerLink="/view/location/{{ item.locationName | replaceURL | lowercase }}">{{ item.locationName }}</a>
          </span>
        </div>
        <div class="item">
          <span class="value">
            <i class="fas fa-envelope"></i>
            {{item.email}}
          </span>
        </div>
        <div class="item">
          <span class="value">
            <i class="fas fa-phone-square"></i>
            {{item.phone}}
          </span>
        </div>
        <div class="item">
          <span class="value">
            <i class="fas fa-link"></i>
            {{item.website}}
          </span>
        </div>
        <div class="item">
          <span class="value">
            <i class="far fa-eye"></i>    
            {{item.views}}
          </span>
        </div>
      </div>
      <div class="loader" *ngIf="isLoading">
        <div class="lds-ellipsis">
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
    </div>
  </section>
  <section class="side-bar__address">
      <div *ngIf="!isLoading">
        <div class="title"><i class="fas fa-address-book"></i>Address</div>
        <div class="info">
          <div class="item">{{ item.address.addressLine1 }}</div>
          <div class="item">{{ item.address.addressLine2 }}</div>
          <div class="item">{{ item.address.city }}</div>
          <div class="item">{{ item.address.state }}</div>
          <div class="item">{{ item.address.zip }}</div>
        </div>
        <div class="loader" *ngIf="isLoading">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="loader" *ngIf="isLoading">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
  </section>
  <section class="side-bar__map">
    <div class="mapouter" *ngIf="!isLoading">
      <div class="gmap_canvas">
        <iframe 
          width="100%" 
          height="300" 
          id="gmap_canvas" 
          src="https://maps.google.com/maps?q=Kottakkal,Kerala&t=&z=13&ie=UTF8&iwloc=&output=embed" 
          frameborder="0" 
          scrolling="no" 
          marginheight="0"
          marginwidth="0">
        </iframe>
      </div>
      <style>.mapouter{text-align:right;height:250px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:250px;width:100%;}</style>
    </div>
    <div class="loader" *ngIf="isLoading">
      <div class="lds-ellipsis">
        <div></div><div></div><div></div><div></div>
      </div>
    </div>
  </section>
  <section class="side-bar__menu">
    <div *ngIf="!isLoading">
      <div class="tags">
        <div class="title"><i class="fas fa-tags"></i>Tags</div>
        <a routerLink="/view/tag/{{tag}}" *ngFor="let tag of item.tags" class="tag">{{ tag }}</a>
      </div>
      <ul>
        <li class="report-bussiness"><a routerLink="/report">Report this bussiness</a></li>
        <li class="claim-bussiness"><a routerLink="/report">Claim this bussiness</a></li>
      </ul>
    </div>
    <div class="loader" *ngIf="isLoading">
      <div class="lds-ellipsis">
        <div></div><div></div><div></div><div></div>
      </div>
    </div>
  </section>
  <section class="side-bar__locations">
    <div class="locations">
      <div class="title"><i class="fas fa-location-arrow"></i>Top locations</div>
      <a routerLink="/view/location/{{location}}" *ngFor="let location of locations" class="location">{{ location }}</a>
      <div class="loader" *ngIf="isLoading">
        <div class="lds-ellipsis">
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
    </div>
  </section>
</div>
