.side-bar {
    .title {
        color: #000;
        padding: 10px 20px;
        font-weight: 500;
        border-bottom: 1px solid #EBEBEB;
    }
    &__info {
        background: #fff;
        color: rgba(0, 0, 0, 0.8);
        margin:20px 0;
        font-size: 14px;
        padding: 10px;
        .title {
            color: #000;
            padding: 10px 0;
            font-weight: 500;
            border-bottom: 1px solid #EBEBEB; 
        }
        .info {
            .item {
                margin: 10px 0;
                .label {
                    margin-right: 4px;
                    font-weight: 700;
                    &:after {
                        content: ':';
                    }
                }
            }
        }
    }
    &__menu {
        background: #fff;
        color: rgba(0, 0, 0, 0.8);
        margin:20px 0;
        font-size: 14px;
        padding: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                border-top: 1px solid #e9e9e9;
            }
        }
        .report-bussiness {
            margin: 10px;
            a:before {
                content: '\f024';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-right: 4px;
            }
        }
        .claim-bussiness {
            margin: 10px;
            a:before {
                content: '\f256';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-right: 4px;
            }
        }
        .title {
            font-weight: 500;
            padding-bottom: 8px;
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 8px;
        }
        .tag {
            color: #fff;
            background: red;
            margin: 4px;
            padding: 2px 8px;
            display: inline-block;
            font-size: 11px;
            font-weight: 500;
            border-radius: 2px;
        }
    }
    &__locations {
        background: #fff;
        color: rgba(0, 0, 0, 0.8);
        margin:20px 0;
        font-size: 14px;
        padding: 10px;
        .title {
            font-weight: 500;
            padding-bottom: 8px;
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 8px;
        }
        .location {
            color: #fff;
            background: red;
            margin: 4px;
            padding: 2px 8px;
            display: inline-block;
            font-size: 11px;
            font-weight: 500;
            border-radius: 2px;
            &:before {
                content: "\f041";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                margin-right: 3px;
            }
        }
    }
}