@import 'src/variables.scss';
#list-item {
    margin-top: 10px;
    margin-bottom: 10px;
    .header-title {
        color: #646464;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 15px;
    }
    .featured-wrapper {
        margin-top: 10px;
        .card {
            border : 0 !important;
            margin-bottom: 30px;
            padding-bottom: 20px;
            cursor: pointer;
            &:hover {
                -webkit-box-shadow: 0px 1px 10px 0px rgba(205, 214, 222, 0.75);
                -moz-box-shadow: 0px 1px 10px 0px rgba(205, 214, 222, 0.75);
                box-shadow: 0px 1px 10px 0px rgba(205, 214, 222, 0.75);
            }
            img {
                height: 200px;
                margin-bottom: 10px;
                width: 100%;
            }
            .title {
                color : rgba(0, 0, 0, 0.6);
                font-size: 18px;
                @media #{$min-desktop} {
                    color: #fff;
                }
            }
            .category {
                position: absolute;
                top: 20px;
                left: 20px;
                z-index: 3;
                background-color: #fcaf01;
                padding: 4px 15px;
                color: #FFFFFF;
                font-size: 12px;
                font-weight: 500;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 200px;
                background: rgba(0, 0, 0, 0);
                transition: background 0.5s ease;
              }
            .card-image:hover {
                img {
                    opacity: 0.3
                }
                .overlay {
                    display: block;
                    background: rgba(0, 0, 0, .3);
                }
                .link-hover {
                    display : inline-block;
                }
            }
            .link-hover {
                position: absolute;
                top: 100px;
                left: 43%;
                line-height: 2.7;
                display: none;
                color: #FFFFFF;
                height: 35px;
                width: 35px;
                border-radius: 50%;
                background-color: #139e81;
                -webkit-transition: all 0.5s ease-out;
                -moz-transition: all 0.5s ease-out;
                -ms-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out;
                &:after {
                    content: '\f06e';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    position: relative;
                    top: -4px;

                }
                &:hover {
                    background : #fff;
                    color: #000;
                }
            }
            .place, .contact {
                color: #c4c4c4;
            }
            .contact {
                &:before {
                    content: '\f2a0';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    margin-right: 5px;
                    position: relative;
                    left: 0px;
                    top: 2px;
                    vertical-align: text-bottom;
                }
            }
        }
    }
    .btn-link-lg {
        margin-bottom: 15px;
    }
}