<div id="list-item" class="container">
  <h2 class="header-title text-center">Featured</h2>
  <div class="row featured-wrapper">
    <div class="col-md-6 col-lg-3 col-12 item-mb" *ngFor="let cat of featured | async">
      <a class="card" routerLink="/view-details/{{cat._id}}/{{cat.name | replaceURL | lowercase}}">
        <div class="card-image">
          <img img-preloader="{{cat.imgUrl}}" />
          <span class="category">{{cat.category.name}}</span>
          <span class="overlay"></span>
          <span class="link-hover"></span>
        </div>
        <div class="card-body">
          <h3 class="title">{{cat.name}}</h3>
          <div class="rating"></div>
          <div class="place">{{cat.locationName}}</div>
          <div class="contact">{{cat.phone}}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="align-center"><a class="btn-link-lg" routerLink="/view/category/all">View More</a></div>
</div>
  