footer {
    .footer-top {
        background: #1a1c1d;
        padding: 40px 0;
        .title {
            color: rgba(255,255,255,0.6);
            font-size: 15px;
            margin-bottom: 15px;
            position: relative;
            font-weight: 600;
        }
        a {
            font-size: 14px;
            margin-bottom: 15px;
            color: #fff;
            font-weight: 500;
        }
    }
    .footer-bottom {
        color: rgba(255,255,255,0.6);
        font-size: 15px;
        font-weight: 600;
        background: #1a1c1d;
        padding: 15px 0;
    }
}