footer {
    background: #1a1c1d;
    .footer-top {
        padding: 40px 0;
        margin: 18px;
        .title {
            color: rgba(255,255,255,0.6);
            font-size: 15px;
            margin-bottom: 15px;
            position: relative;
            font-weight: 600;
        }
        a {
            font-size: 14px;
            margin-bottom: 15px;
            color: #fff;
            font-weight: 500;
        }
        p {
            color: #fff;
        }
    }
    .row {
        > div {
            @media(max-width: 768px) {
                margin-bottom: 20px;
            }
        }
    }
    .footer-bottom {
        color: rgba(255,255,255,0.6);
        font-size: 15px;
        font-weight: 600;
        padding: 15px 0;
        margin: 18px;
    }
}