<footer class="footer">
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="title">Test</div>
          <a href="#">Test</a>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="title">Test</div>
          <a href="#">Test</a>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="title">Test</div>
          <a href="#">Test</a>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="title">Test</div>
          <a href="#">Test</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
      <div class="container-fluid">&copy; 2018 EazyLogs</div>
  </div>
</footer>