.contact {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    position: relative;
    box-shadow: none;
    margin-bottom: -18px;
    .title {
        font-weight: 900;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 34px;
        color: #000;
    }
    .image-wrapper {
        padding-top: 30px;
        background: url(/assets/images/contact-us.png) no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        position: relative;
        text-align: center;
        > span {
            position: absolute;
            top: 50%;
            right: 34%;
            font-size: 5vw;
            font-weight: 1000;
            color: #000;
            text-transform: uppercase;
            @media(max-width: 768px) {
                position: unset;
                margin-top: 30px;
                font-size: 10vw;
            }
        }
    }
    .map {
        .mapouter, .gmap_canvas {
            width: 100% !important;
        }
    }
    .address {
        margin: 20px auto;
        p {
            font-size: 20px;
        }
        img {
            width: 200px;
        }
    }
    .map {
        @media(min-width: 768px) {
            margin-top: -20px;
        }
    }
    .contact-form {
        margin: 10px 0;
    }
    .contact-form {
        .form-group {
            .form-control {
                border: 0 !important;
                border-radius: 0;
                background: #f3f3f3;
            }
        }
        p {
            color: rgba(0, 0, 0, 0.8);
        }
    }
    .modal {
        top: 80px;
        display: block;
    }
    .text {
        margin-top: 18%;
        font-size: 40px;
        font-weight: 800;
    }
    .details {
        padding-left: 60px;
        @media (min-width: 769px) {
            display: flex;
            -webkit-display: flex;
            flex-direction: column;
            align-self: center;
        }
        @media(max-width: 768px) {
            padding-left: 30px;
        }
    }
}