<div id="dashboard">
  <div class="row">
      <div class="sidebar">
        <div [ngClass]="{'active': activeTab == 1}" (click)="activeTab = 1">
          <i class="far fa-clipboard"></i>Dashboard
        </div>
        <div [ngClass]="{'active': activeTab == 2}" (click)="activeTab = 2">
          <i class="far fa-plus-square"></i>Add Business
        </div>
        <div [ngClass]="{'active': activeTab == 3}" (click)="activeTab = 3">
          <i class="far fa-edit"></i>Edit Profile
        </div>
        <div  (click)="activeTab = 1"><i class="fas fa-sign-out-alt"></i>Logout</div>
      </div>
      <div class="main-wrapper">
        <div class="header">Welcome {{username}}</div>
        <div class="tab-group">
          <div class="tab-dashboard" *ngIf="activeTab === 1">
            <div class="row">
              <div class="col-12 col-md-7">
                <section class="my-business">
                  <div class="title">My Businesses</div>
                  <div class="details">
                    <table>
                      <tbody>
                        <tr><td>Lorem Ipsum</td></tr>
                        <tr><td>Lorem Ipsum</td></tr>
                        <tr><td>Lorem Ipsum</td></tr>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
              <div class="col-12 col-md-5">
                <section class="user-details">
                  <div class="title">My details</div>
                  <div class="details">
                    <div class="group">
                      <div class="title">Username</div>
                      <div class="value">Lorem Ipsum</div>
                    </div>
                    <div class="group">
                      <div class="title">Email</div>
                      <div class="value">Lorem Ipsum</div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="tab-add-business" *ngIf="activeTab === 2">
            <form [formGroup]="bussinessForm" class="form">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="name" class="input" placeholder="Name">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="location" class="input" placeholder="Location">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="email" formControlName="email" class="input" placeholder="Email">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="phone" class="input" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="description" class="input" placeholder="Description">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="category" class="input" placeholder="Category">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="addressLine1" class="input" placeholder="Address Line 1">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="addressLine2" class="input" placeholder="Address Line 2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="city" class="input" placeholder="City">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="state" class="input" placeholder="State">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="zipcode" class="input" placeholder="Zipcode">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                </div>
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-link-lg">Add Business</button>
            </form>
          </div>
          <div class="tab-edit-profile" *ngIf="activeTab === 3">
            <form [formGroup]="profileForm" class="form">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="name" class="input" placeholder="Name">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="email" formControlName="email" class="input" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="phone" class="input" placeholder="Phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="addressLine1" class="input" placeholder="Address Line 1">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="addressLine2" class="input" placeholder="Address Line 2">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="city" class="input" placeholder="City">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="state" class="input" placeholder="State">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <input type="text" formControlName="zipcode" class="input" placeholder="Zipcode">
                  </div>
                </div>
                <div class="col-12 col-md-6">
                </div>
              </div>
              <button type="submit" (click)="onSubmit()" class="btn btn-link-lg">Edit profile</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>