<section class="register">
    <div class="container register-form-wrapper">
      <div class="register-form">
        <div class="logo">
          <img src="/assets/images/logo.png">
        </div>
        <form [formGroup]="registerForm" class="form">
          <div class="form-group">
            <input type="email" formControlName="email" class="input" placeholder="Email Address">
            <label class="error" *ngIf="submitted && f.email.invalid&& f.email.errors.required">Email is required</label>
            <label class="error" *ngIf="submitted && f.email.invalid && f.email.errors.email">Enter email in correct format</label>
          </div>
          <div class="form-group">
            <input type="password" class="input" formControlName="password" placeholder="Password">
            <label class="error" *ngIf="submitted && f.password.invalid ">Password is required</label>
          </div>
          <div class="form-group">
            <input type="password" class="input" formControlName="confirmPassword" placeholder="Confirm Password">
            <label class="error" *ngIf="submitted && f.confirmPassword.invalid ">Confirm password is required</label>
            <label class="error" *ngIf="submitted && f.password.valid && f.confirmPassword.valid && registerForm.errors.notSame">Password and confrim password must be same</label>
          </div>
          <button type="submit" (click)="onSubmit()" class="btn btn-register">Register</button>
        </form>
      </div>
    </div>
  </section>
