.register {
    margin-top: 90px;
    box-shadow: none;
    .logo {
      img {
        width: 200px;
      }
    }
    .header{
      text-align: center;
      font-size: 30px;
      margin-bottom: 40px;
    }
    
    .row{
      margin-top: 10px; 
    }
    
    .error{
      color: #BD3533;
      font-size: 14px;
      margin: 10px 0;
      margin-bottom: 0;
    } 
    .error-message {
      background: #BD3533;
      color: #fff;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
    }
    .register-form-wrapper {
      display: flex;
      justify-content: center;
      .register-form {
        width: 420px;
        background: #fff;
        padding: 20px;
        border-radius: 4px;
        margin-bottom: 20px;
        @media (max-width: 768px) {
          width: 100%;
        }
        .logo {
          margin-bottom: 30px;
          text-align: center;
        }
        .form {
          margin-bottom: 20px;
        }
        .input {
          width: 100%;
          border: 0;
          padding: 7px 10px;
          border-radius: 3px;
          background: #F1F1F1;
        }
        .btn-register {
          width: 100%;
          background: #2380FF;
          color: #fff;
          &:hover {
            background: #0066F1;
            color: #fff;
          }
        }
        .social-login {
          margin: 10px 0;
        }
      }
    }
  }
  