<nav class="navbar fixed-top navbar-light navbar-expand-lg" id="mainNav" *ngIf="router.url != 'login'">
  <div class="container-fluid">
    <a class="navbar-brand">Eazy Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars" [ngClass]="{'fa-bars': isCollapsed, 'fa-times': !isCollapsed }"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [collapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">List Bussiness</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>