<nav class="navbar fixed-top navbar-light navbar-expand-lg" id="mainNav">
  <div class="container">
    <a class="navbar-brand">Eazy Log</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars" [ngClass]="{'fa-bars': isCollapsed, 'fa-times': !isCollapsed }"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [collapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-xs btn-primary">login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>