<div id="categories" class="container">
  <h2 class="header-title text-center">Top Categories</h2>
  <div class="row categories-wrapper">
    <div class="row col-12" *ngIf="loading">
      <div class="col-6 col-md-4 col-lg-2 item-mb">
          <a class="card text-center" routerLink="">
            <div>
              <div class="icon">
                <i class="fas fa-archive"></i>
                <span class="total">0</span>          
              </div>
              <div><h3 class="title">loading..</h3></div>
            </div>
          </a> 
      </div>
      <div class="col-6 col-md-4 col-lg-2 item-mb">
        <a class="card text-center" routerLink="">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">0</span>          
            </div>
            <div><h3 class="title">loading..</h3></div>
          </div>
        </a> 
      </div>
      <div class="col-6 col-md-4 col-lg-2 item-mb">
        <a class="card text-center" routerLink="">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">0</span>          
            </div>
            <div><h3 class="title">loading..</h3></div>
          </div>
        </a> 
      </div>
      <div class="col-6 col-md-4 col-lg-2 item-mb">
        <a class="card text-center" routerLink="">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">0</span>          
            </div>
            <div><h3 class="title">loading..</h3></div>
          </div>
        </a>
      </div> 
      <div class="col-6 col-md-4 col-lg-2 item-mb">
        <a class="card text-center" routerLink="">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">0</span>          
            </div>
            <div><h3 class="title">loading..</h3></div>
          </div>
        </a>
      </div> 
      <div class="col-6 col-md-4 col-lg-2 item-mb">
        <a class="card text-center" routerLink="">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">0</span>          
            </div>
            <div><h3 class="title">loading..</h3></div>
          </div>
        </a>
      </div>
    </div>
    <ng-container *ngIf="!loading">
      <div class="col-6 col-md-4 col-lg-2 item-mb" *ngFor="let cat of categories">
        <a class="card text-center" routerLink="/view/category/{{cat.id}}/{{cat.name | replaceURL | lowercase}}">
          <div>
            <div class="icon">
              <i class="fas fa-archive"></i>
              <span class="total">{{cat.count}}</span>
            </div>
            <div>
              <h3 class="title">{{cat.name}}</h3>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>