<div id="categories" class="container">
  <h2 class="header-title text-center">Top Categories</h2>
  <div class="row categories-wrapper">
    <div class="col-12 col-md-2 item-mb" *ngFor="let cat of categories | async">
      <a class="card text-center" routerLink="/view/category/{{cat.id}}/{{cat.name | replaceURL | lowercase}}">
        <div>
          <div><i class="fas fa-archive"></i></div>
          <div><h3 class="title">{{cat.name}}</h3></div>
          <div class="total">({{cat.count}})</div>
        </div>
      </a>
    </div>
  </div>
</div>