@import "/variables.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
  font-family: "Quicksand", sans-serif;
}
body {
  background-color: rgba(196, 196, 196, 0.2);
  max-width: 100%;
  overflow-x: hidden;
}
