@import "/variables.scss";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background-color: rgba(196, 196, 196, 0.2);
  max-width: 100%;
  overflow-x: hidden;
}
main {
  margin-top: 55px;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-link-lg {
  background: transparent;
  border: 2px solid  #007bff;
  color: #007bff;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  &:hover {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff !important;
  }
}
.align-center {
  display: flex;
  justify-content: center;
}
.container-fluid {
  max-width: 1680px;
}