//responsiveness 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$mobile : "(max-width : map-get($grid-breakpoints, md))";
$tablet : "(min-width : 768px) and (max-width : 1024px)";
$desktop : "(min-width : 1024px)";

$max-mobile : "(max-width : 768px)";
$max-tablet : "(max-width : 1024px)";

$min-tablet : "(min-width : 768px)";
$min-desktop : ("min-width : 1024px");