<section class="categories">
  <div class="title">All Categories</div>
  <a class="category" *ngFor="let cat of categories | async">
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    <a routerLink="/view/category/{{cat.id}}/{{cat.name | replaceURL | lowercase}}">{{ cat.name }}</a>
    <span class="count">{{ cat.count }}</span>
  </a>
</section>
<section class="categories">
  <div class="title">Locations</div>
  <a class="category" *ngFor="let location of locations">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a routerLink="/view/location/{{ location }}">{{ location }}</a>
  </a>
</section>
