<section class="categories">
  <div class="title">All Categories</div>
  <a class="category" *ngFor="let category of categories">
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    <a routerLink="/view/location/{{ category }}">{{ category }}</a>
    <span class="count">(50)</span>
  </a>
</section>
<section class="categories">
  <div class="title">Locations</div>
  <a class="category" *ngFor="let location of locations">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <a routerLink="/view/location/{{ location }}">{{ location }}</a>
  </a>
</section>
