.about {
    background: #fff;
    margin-bottom: -18px;
    .image-wrapper {
        padding-top: 30px;
        background: url(/assets/images/about-us.png) no-repeat;
        background-size: cover;
        height: 500px;
        width: 100%;
        position: relative;
        text-align: center;
        > span {
            position: absolute;
            top: 50%;
            right: 36%;
            font-size: 5vw;
            font-weight: 1000;
            color: #000;
            text-transform: uppercase;
            @media(max-width: 768px) {
                position: unset;
                margin-top: 30px;
                font-size: 10vw;
            }
        }
    }
    .details {
        text-align: center;
        width: 40%;
        margin: 0 auto;
        padding: 20px 0;
        font-size: 30px;
        font-weight: 600;
    }
}