<section class="search-view">
  <div class="header">
    <span class="title">All Items</span>
    <span class="sort pull-right">
      <a href="#!">Sort By</a>
      <i class="fa fa-th" aria-hidden="true" (click)="setDisplayMode(1)" [ngClass]="{ active: displayMode == 1 }"></i>
      <i class="fa fa-list-ul" aria-hidden="true" (click)="setDisplayMode(2)" [ngClass]="{ active:  displayMode == 2 }"></i>
    </span>
  </div>
  <div class="row grid-view" *ngIf=" displayMode == 1">
    <div class="col-md-4 col-sm-6" *ngFor="let item of items">
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="https://i.postimg.cc/Jhn3cHhK/1-e-MRPe-e-Pm-F0-XWGypc0xfg.png">
            <span class="category">Category</span>
          </div>
        </div>
        <div class="card-body">
          <a class="card-title" routerLink="/view-details/{{item}}">{{ item }}</a>
          <div class="location">Location</div>
          <div class="contact">99999999</div>
        </div>
      </div>
    </div>
  </div>
  <div class="list-view" *ngIf=" displayMode == 2">
    <div class="item-list" *ngFor="let item of items">
      <div class="row">
        <div class="col-md-4 card-image">
          <img src="https://i.postimg.cc/Jhn3cHhK/1-e-MRPe-e-Pm-F0-XWGypc0xfg.png">
          <span class="category">Category</span>
        </div>
        <div class="details col-md-8">
          <a class="title" routerLink="/view-details/{{item}}">{{ item }}</a>
          <div class="location">Location</div>
          <div class="contact">99999999</div>
        </div>
      </div>
    </div>
  </div>
</section>
