<section class="search-view">
  <div class="header">
    <span class="title">All Items</span>
    <span class="sort pull-right">
      <!--<a href="#!">Sort By</a>-->
      <i class="fa fa-th" aria-hidden="true" (click)="setDisplayMode(1)" [ngClass]="{ active: displayMode == 1 }"></i>
      <i class="fa fa-list-ul" aria-hidden="true" (click)="setDisplayMode(2)" [ngClass]="{ active:  displayMode == 2 }"></i>
    </span>
  </div>
  <div class="loader" *ngIf="isLoading">
    <div class="lds-ellipsis">
      <div></div><div></div><div></div><div></div>
    </div>
  </div>
  <div class="row grid-view" 
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="1500"
    (scrolled)="onScrollDown()"
    *ngIf=" displayMode == 1 && !isLoading">
    <div class="col-md-4 col-12" *ngFor="let item of items">
      <a routerLink="/view-details/{{item._id}}/{{item.name | lowercase}}">
      <div class="card">
        <div class="card-header">
          <div class="card-image">
            <img src="{{ item.imgUrl }}">
            <span class="category">{{ item.category.name }}</span>
          </div>
        </div>
        <div class="card-body">
          <div class="card-title">{{ item.name }}</div>
          <div class="contact">{{ item.phone }}</div>
          <div class="location">{{ item.locationName }}</div>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div 
    class="list-view" 
    infinite-scroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScrollDown()"
    *ngIf=" displayMode == 2 && !isLoading">
    <div class="item-list" *ngFor="let item of items">
      <div class="row">
        <div class="col-md-4 col-4 card-image">
          <img src="{{ item.imgUrl }}">
          <span class="category">{{ item.category.name }}</span>
        </div>
        <div class="details col-md-8 col-8">
          <a class="title" routerLink="/view-details/{{item._id}}/{{item.name | lowercase}}">{{ item.name }}</a>
          <div class="contact">{{ item.phone }}</div>
          <div class="location">{{ item.locationName }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
