<div class="container-fluid view-details">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-9">
        <div class="loader" *ngIf="isLoading">
          <div class="lds-ellipsis">
            <div></div><div></div><div></div><div></div>
          </div>
        </div>
        <section class="details-wrapper" *ngIf="!isLoading">
          <h1 class="title">{{ item.name }}</h1>
          <image-carousal [item]="item"></image-carousal>
          <div class="tab-view">
            <div class="tab">
              <button 
                (click)="activeTab = 1"
                [ngClass]="{'active' : activeTab == 1}"
                class="btn-link-lg">Details</button>
                <button 
                (click)="activeTab = 2"
                [ngClass]="{'active' : activeTab == 2}"
                class="btn-link-lg">Address</button>
              <button 
              (click)="activeTab = 3"
              [ngClass]="{'active' : activeTab == 3}"
              class="btn-link-lg">Opening Hours</button>
            </div>
            <div class="details" *ngIf="activeTab == 1">
              <div class="value" [class.show]="show">{{ item.description }}</div>
              <button class="btn-link-lg submit" *ngIf="item.description.length>900" (click)="show = !show">{{ show ? 'Show Less': 'Show More' }}</button>
            </div>
            <div class="opening" *ngIf="activeTab == 2">
              <div class="value" *ngFor="let opening of item.openingHours">
                <span class="label">{{ opening.day }}</span>
                <span class="text">{{ opening.from | date:'shortTime' }} to  {{ opening.to | date:'shortTime' }}</span>
              </div>
            </div>            
          </div>
          <div class="share-plugin">
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </section>
        <section class="embed-video" [innerHTML]="embedCode | safeHTML">
        </section>
      </div>
      <div class="col-md-3">
        <side-bar [item]="item" [isLoading]="isLoading"></side-bar>        
      </div>
    </div>
  </div>
</div>