.details-wrapper {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    margin: 20px 0;
    font-size: 14px;
    padding: 10px;
    .title {
        font-weight: 500;
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-size: 24px;
    }
}