.details-wrapper {
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    margin: 20px 0;
    font-size: 14px;
    padding: 10px;
    .title {
        font-weight: 500;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-size: 24px;
    }
    .details, .opening {
        .title {
            padding-top: 12px;
            font-size: 20px;
            border-bottom: 1px solid #e9e9e9;
        }
        .label {
            margin-right: 4px;
            font-weight: 500;
        }
        .value {
            margin-bottom: 10px;
        }
    }
    .address {
        @media(min-width: 992px) {
            width: 50%;
            margin: 0 auto;
        }
    }
    .details {
        .value {
            height: 100px;
            overflow: hidden;
            &.show {
                overflow: visible;
                height: auto;
            }
        }
    }
    .opening {
        @media(min-width: 992px) {
            width: 50%;
            margin: 10px auto;
            box-shadow: 0px 1px 10px 0px rgba(205, 214, 222, 0.75);
            padding: 20px;
        }
        .value {
            display: flex;
            -webkit-display: flex;
            justify-content: space-between;
        }
    }
    .accordion {
        .dropup {
            .collapse:not(.show) {
                 display: block !important; 
            }
        }
        .title {
            padding-top: 12px;
            font-size: 20px;
            border-bottom: 1px solid #e9e9e9;
        }
    }
}
.map {
    .mapouter, .gmap_canvas {
        width: 100% !important;
    }
}
.tab-view {
    margin-top: 20px;
    .tab {
        margin: 0 auto;
        text-align: center;
    }
    .btn-link-lg:not(.submit) {
        padding: 5px;
        font-size: 12px;
        border: 1px solid;
        border-radius: 0;
        &:first-of-type {
            border-right: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-of-type {
            border-left: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &.active {
            background: #007bff;
            color: #fff;
            border-color: #007bff;
        }
        &:hover {
            border: 1px solid #007bff;
        }
        &:focus {
            outline: 0 !important;
        }
    }
    .value {
        font-weight: 500;
        &:first-of-type {
            margin-top: 20px;
        }
    }
}
.share-plugin {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
:host ::ng-deep iframe {
    width: 100% !important;
    border: 0;
    @media(min-width: 768px) {
        min-height: 400px;
    }
}